:root {
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-gray: #EEEEEE;
  --basic-dark-gray: #666666;
  --basic-light-black: #333333;
  --basic-light-blue: #81B3D2;
  --basic-brown: #766357;
  --basic-light-gray: #F2F2F2;
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;
  --basic-white-transparent: rgba(255, 255, 255, 0.3);
  --basic-black-transparent: rgba(0, 0, 0, 0.3);
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;


}

.content {
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  margin: 0px auto;
}

.page {
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text_small {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
}

.text_medium {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.text_big {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.light-black-text {
  color: var(--basic-light-black);
}

.white-text {
  color: var(--basic-white);
}

.info-link:hover {
  color: var(--basic-light-blue);
}

.info-link:active {
  color: var(--basic-black-transparent);
}

.background-one {
  background-color: var(--basic-light-blue);
}

.background-one:hover {
  background-color: var(--basic-blue-hover);
}

.background-one:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-white-transparent);
}

.background-two {
  background-color: var(--basic-brown);
}

.background-two:hover {
  background-color: var(--basic-brown-hover);
}

.background-two:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-white-transparent);
}

/* INDEX */

/* main-header*/
.main-header {
  width: 1200px;
  margin: 0 auto;
}

.main-navigation {
  display: grid;
  grid-template-rows: 56px;

}

.main-navigation__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 15px 70px;
  align-items: center;
}


/*хз как в гридах объединить лого и навигацию*/

/*main content*/

.features-list {
  display: grid;
  grid-template-rows: 256px 1fr 256px 256px;
}

.features-item:first-child {
  display: grid;
  grid-template-columns: 400px 800px;

}

.features-item:nth-child(2) {
  display: flex;
  justify-content: space-around;
  min-height: 300px;
  align-items: center;
}

.features-item:nth-child(3) {
  display: grid;
  grid-template-columns: 800px 400px;
}

.features-item:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--basic-gray);
}


.location__headline {
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
}

.features-item_colored {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--basic-light-blue);
  margin: 0 px;
  padding: 0px;

}

.hotel-search-form {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: 0 auto;
  padding: 61px 55px;

}

/*footer*/

.main-footer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  align-items: center;

}

.site-creator__description {
  font-weight: normal;
}


/* CATALOG */
.catalog-content {
  list-style: none;
  width: 1200px;
  margin: auto;
}

.catalog-container {
  width: 1055px;
  margin: 0 auto;

}

.search-filter {
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
  background-color: var(--basic-light-blue);
}

.search-filter__form {
  display: grid;
  grid-template-columns: 300px 300px 600px;

}

.filter-legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.sort-box {
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  height: 86px;

}

.sort-option {
 display: flex;
 justify-content: space-between;
 list-style: none;
 width: 400px;
}
.sort-option__button {
  margin-right: 0px;
  margin-left: auto;
}

.sort-list__item {
  display: flex;
  list-style: none;
  height: 120px;
  padding: 30px 0px;


}

.sort-list__content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  margin-left: 30px;

}

.sort-list__item_description {
  display: grid;
  grid-template-columns: 120px 150px;
  grid-template-rows: 20px 100px;

}

.sort-list__title {
  grid-column: 1/-1;
  margin: 0px;
  text-align: left;


}
.sort-list__content_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  margin-right: 10px;

}

.sort-list__text {
  margin-top: 35px ;
}
.sort-list__content_block a {
  text-align: center;
}
.rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0px;
  margin-left: auto;

}
.rating__list {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.rating__text {
  background-color: var(--basic-light-gray);
}
